<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2" for="">Filtro: </label>
 <input
 type="text"
 class="form-control mr-2"
 placeholder="buscar"
 [(ngModel)]="filterList"
 >
 <!-- <button class="btn btn-outline-success">Buscar</button> -->
  </div>
</div>
<!-- <h3>Filtro: {{filterList}}</h3> -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button type="button" (click)="handleViewImg()" class="btn btn-outline-light btn-sm">{{!viewImg ? 'Mostrar imagens' : 'Ocultar imagens'}}</button></th>
      <th>id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td >
        <img
        [collapse]="!viewImg"
        [isAnimated]="true"
        src="/assets/{{evento.imagemUrl}}"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg"

         alt="">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.quantidadePessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-primary mr-2 ">Editar</button>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length ">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

